main{
    //width: 100vw;
    .primera_seccion{
        display: flex;
        align-items: center;
        flex-direction: column;

        h1{
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            line-height: 33px;
            color:$bg_primary;
            width: 286px;
            height: 99px;
            font-family: $fuente_1;
            margin-bottom: 30px;
            span{
                color:$bg-third;
            }
        }

        img{
            width: 273px;
            height: 130px;
            
        }

        p{
            font-family: $fuente_1;
            text-align: center;
            color: $bg_primary;
            line-height: 25px;        
            font-weight: 700;
            font-size: 16px;           

            &:last-child{
                font-weight: 500;
                width: 225px;
                height: 50px;
                font-size: 14px;
                margin-bottom: 30px;
            }
        }

        .box{
            width: 284px;
            height: 50px;// valores entre 50 y 150
            margin-bottom: 20px;
            border: solid $bg-primary 1px;
            border-radius: 27px;
            .container-1{
                height: 40px;
                padding-top: 14px;

                input{
                    float: left;
                    margin-left: 25px;
                    font-size: 16px;
                }

                .lupa{
                    float: right;                    
                    margin-right: 20px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;                        
                }
            }

            .menu-input{
                font-family: $fuente_2;
                font-size: 16px;
                color: #000000;
                text-align: left;
                opacity: 0.5;
                padding-left: 24px;
                display: none;
                span{
                    width: 240px;
                    height: 1.7px;
                    background: $bg-four;
                    margin-bottom: 7px;
                    display: inline-block;
                        
                }
                .suggest-term{
                    padding-bottom: 7px;
                    cursor: pointer;
                }
            }
        }
    }

    .failsearch{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 45px 0px 50px;
        //border-top: solid $bg-four 2px;
        span{
            width: 150px;
            height: 2px;
            background: $bg-four;
            margin-bottom: 15px;
            
        }
        img{
            width: 70px;
            height: 70px;
        }

        h2{
            font-family: $fuente_1;
            font-weight: 700;
            font-size: 25px;
            color:$bg_primary;
            margin: 35px 0px;

        }

        h3{
            color:$bg-third;
            font-size: 18px;
            width: 256px;
            margin-top: 30px;
            font-family: $fuente_1;
            font-weight: 700;
        }
    }

    .favoritos{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        .logo_corazon{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin: center;
                text-align: center;
            }
        }

        h2{
            font-family: $fuente_1;
            font-weight: 700;
            font-size: 25px;
            text-align:center;
            color: $bg-primary;
            margin: 10px 0px;
        }

        .no_found_fav{
            display: flex; //none-flex
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 70px 0px;
            img{
                width: 70px;
                height: 70px;
            }
            h2{
                color:$bg-third;
                font-size: 18px;
                width: 230px;
                margin-top: 20px;
            }
        }
        }

    .busqueda_fav{
            display: flex; //block-none
            flex-flow: row wrap;
            justify-content: center;

            .lista_favoritos{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                .imagens{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 1px;
                    width: 156px;
                    height: 120px;

                    img{
                        padding: 8px;
                        width: 156px;
                        height: 120px;
                    }

                    .sombra_2{
                        display: none;       
                    } 
                }
            }

            .ver_mas{
                border: solid $bg-primary 1px;
                border-radius: 35px;
                width: 127px;
                height: 50px;
                margin: 40px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
    
                h2{
                    font-size: 13px;
                }
            }
    
            .ver_mas:hover{
                background-color: $bg-primary;
                h2{
                    color: $bg-secundary;
                }
            }
    }

    .mis_gifos{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        margin-top: 30px;

        .logo_rostro{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin: center;
                text-align: center;
            }
        }

        h2{
            font-family: $fuente_1;
            font-weight: 700;
            font-size: 25px;
            text-align:center;
            color: $bg-primary;
            margin: 10px 0px;
        }

        .no_found{
            display: flex; //none-flex
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 70px 0px;
            img{
                width: 70px;
                height: 70px;
            }
            h2{
                color:$bg-third;
                font-size: 18px;
                width: 230px;
                margin-top: 20px;
            }
        }

        .busqueda_mis{
            display: none; //block-none
            flex-flow: row wrap;
            justify-content: center;

            .lista_misgifos{
                img{
                    padding: 8px;
                    width: 150px;
                    height: 120px;
                }
            }
            
            .ver_mas{
                border: solid $bg-primary 1px;
                border-radius: 35px;
                width: 127px;
                height: 50px;
                margin: 40px 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                h2{
                    font-size: 13px;
                }
            }

            .ver_mas:hover{
                background-color: $bg-primary;
                h2{
                    color: $bg-secundary;
                }
            }
        }

    }


    .busqueda_img{

        display:  flex; 
        flex-flow: row wrap;
        justify-content: center;

            .imagenes_resultado{

                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                .imagens{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 1px;
                    width: 156px;
                    height: 120px;
                    img{
                        padding: 8px;
                        width: 156px;
                        height: 120px;
                    }
                }

                .sombra_2{
                    display: none;
                }
            }

            .ver_mas{
                border: solid $bg-primary 1px;
                border-radius: 35px;
                width: 127px;
                height: 50px;
                margin: 40px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;

                h2{
                    font-size: 13px;
                }
            }

            .ver_mas:hover{
                background-color: $bg-primary;
                h2{
                    color: $bg-secundary;
                }
            }
        }
    
    .busqueda{
        display: none;
        align-items: center;
        flex-direction: column;
      
        span{
            width: 80px;
            height: 2px;
            background: $bg-four;
            text-align: center;
            display: inline-block; 
            margin: auto;                  
        }

        h2{
            font-family: $fuente_1;
            font-weight: 700;
            font-size: 25px;
            text-align:center;
            color: $bg-primary;
            margin: 25px 0px;
        }
    }

    .segunda_seccion{
        background-color: $color_active;
        width: 100vw;
        height: 430px;

        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-family: $fuente_1;
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                line-height: 30px;
                color: $bg-primary;
                padding-top: 45px;
                padding-bottom: 10px;
            }
            
            p{
                font-family: $fuente_2;
                color: $color;
                text-align: center;
            }
        }

        .imagenes{

            display: flex;
            margin-top: 40px;
            overflow-x: auto;
            .flechas{
                border:solid $bg-primary 1px;
                width: 40px;
                height: 40px;
                display: none;
                align-items: center;
                justify-content: center;
                svg{
                    fill: $bg-primary;
                }
            }

            .sombra{
                position: absolute;
                display: none;
                flex-direction: column;
                z-index: 3;
                opacity: 0;
                background: #572EE5 ;
                width: 243px;
                height: 187px;
                margin-left: 10px;
                
                .contenido{
                    place-items: baseline;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 80px;
                    margin-left: 10px;

                    p{
                        font-size: 15px;
                        font-family: $fuente_2;
                        color: $color_two;
                        margin: 0px;
                    }
                    h2{
                        font-size: 16px;
                        font-family: $fuente_1;
                        font-weight: 700;
                        color: $color_two;
                        margin-top: 15px;
                    }
                }

                .links{

                    align-self: flex-end;
                    display: flex;
                    padding-top: 6px;
                    padding-right: 8px;
    
                    // img{
                    //     width: 25px;
                    //     height: 25px;
                    // }
    
                    .box{
                        opacity: 0.5;
                        margin-left: 15px;
                        margin-bottom: 7px;
                        width: 30px;
                        height: 30px;
                        background: #FFFFFF;
                        border: solid $bg-primary 1px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            //padding-top: 4px;
                        }   
                    }

                    .ultimo{
                        opacity: 1;
                    }
                }
            }
            .sombra:hover{
                opacity: 0.7;
            }

            .activa{
                opacity: 0.7;
                background: #572EE5;
            }


            .flechas:hover{
                background-color: $bg-primary;
                svg{
                    fill: #FFFFFF;
                }
            }
            
            .contenedor{
                display: flex;
                .imagen{

                    img{
                        width: 243px;
                        height: 187px;
                        margin: 0px 10px;                
                    }
    
                    div{
                        position: relative;
                    }
                    
                }
            }
        }

    }

    .seccion_creacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        .primera_parte{
            display: flex;
            margin-left: -205px;
            .window_creation{
                display: flex;
                flex-direction: column;
                //justify-content: center;
                border: solid $bg-primary 1px;
                width: 688px;
                height: 390px;

                .cajas_superiores{
                    display: flex;
                    width: 626px;
                    justify-content: space-between;
                    margin-left: 32px;
                    margin-top: 25px;
                    .sup_izq{
                      border-top: 1px solid $bg-third;
                      width: 27px;
                      height: 25px;
                      background: white;
                      border-radius: 0px;
                      border-left: 1px solid $bg-third;  
                    }
                    .sup_der{
                        border-top: 1px solid $bg-third;
                        width: 27px;
                        height: 25px;
                        background: white;
                        border-radius: 0px;
                        border-right: 1px solid $bg-third;
                        //align-self: flex-end;  
                      }

                }

                h2{
                    font-family: $fuente_1;
                    font-size: 25px;
                    color: #572EE5;
                    text-align: center;
                    line-height: 35px;
                    margin: 0px auto;
                    margin-top: 65px;
                    span{
                        color:$bg-third;
                        background-color: white;
                    }
                    
                }

                p{
                    font-family: $fuente_2;
                    font-size: 16px;
                    color: #000000;
                    text-align: center;
                    line-height: 29px;
                }

                .cajas_inferiores{
                    display: flex;
                    width: 626px;
                    justify-content: space-between;
                    margin-left: 32px;
                    margin-top: 85px;
                    .inf_izq{
                      border-bottom: 1px solid $bg-third;
                      width: 27px;
                      height: 25px;
                      background: white;
                      border-radius: 0px;
                      border-left: 1px solid $bg-third;  
                    }
                    .inf_der{
                        border-bottom: 1px solid $bg-third;
                        width: 27px;
                        height: 25px;
                        background: white;
                        border-radius: 0px;
                        border-right: 1px solid $bg-third;
                        //align-self: flex-end;  
                      }

                }
            }
        }

        .pre_parte{
            display: flex;
            margin-left: 487px;
            .numeros_creacion{
    
                display: flex; 
                justify-content: space-between;
                width: 150px;
                //margin-left: 185px;
                
                .circle_fun{
                    border: solid $bg-primary 1px;
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 25px 0;
                    background-color: $bg-primary;   
                    p{
                        font-size: 18px;
                        color: $color_two;
                        font-family: $fuente_2;
                        font-weight: bold;
                    }
                }    
                
                .circle{
                    border: solid $bg-primary 1px;
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 25px 0;    
                    p{
                        font-size: 18px;
                        color: $bg-primary;
                        font-family: $fuente_2;
                        font-weight: bold;
                    }
                }       
            }
            img{
                padding-left: 350px;
            }
        }

        span{
            width: 750px;
            height: 5px;
            background: $bg-primary;
            margin-bottom: 7px;
            border-radius: 10px;
            //display: inline-block;
        }

        .parte_baja{
            display: flex;
            width: 200px;
            margin-left: 75px;
            .ver_mas{
                border: solid $bg-primary 1px;
                border-radius: 35px;
                width: 127px;
                height: 50px;
                margin: 20px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $bg-primary;
                font-family: $fuente_1;
                cursor:pointer;

                h2{
                    font-size: 13px;
                }
            }

            .ver_mas:hover{
                background-color: $bg-primary;
                h2{
                    color: $bg-secundary;
                }
            }

        }
    }

    @media screen and (min-width: 1000px){

        overflow: hidden;
        .primera_seccion{
            

            h1{
                font-size: 36px;
                width: 585px;
                line-height: 50px;
                margin: 60px 0px;
            }

            img{
                width: 400px;
                height: 190px;
                
            }

            .box{
                width: 551px;
                height: 50px;
                
                .container-1{
                    input{
                        width: 85%;
                    }
                }
                .menu-input{
                    span{
                        width: 510px;                            
                    }
                }
            }

            p{
                font-size: 18px;
                margin-top: 50px;
                &:last-child{
                    font-size: 16px;
                    width: 402px;
                    margin-top: 0px;
                    margin-bottom: 50px;
                }

            }
        }

        .segunda_seccion{

            height: 640px;

            .info{
                margin-bottom: 40px;

                h2{
                    font-size: 25px;
                    margin-top: 70px;
                }
    
                p{
                    font-size: 18px;
                    width: 390px;
                }
            }

            .imagenes{

                //position: relative;
               
                align-items: center;
                width: 83vw;
                overflow: hidden;
                margin: auto;

                .flechas{
                    display: flex;
                    align-items: center;
                    position: absolute;   
                }
                .left{
                    left: 73px;
                }

                .right{
                    right: 60px;
                }

                .contenedor{

                    position: relative;
                    display: flex;
                    justify-content: center;
                    transition: .5s ease-in-out;

                    .imagen{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        float: left;
                        box-sizing: border-box;
                        
                        img{
                            width: 357px;
                            height: 275px;
                        }
                        .sombra{

                            display: flex;
                            width: 357px;
                            height: 275px;
                            margin-left: -1px;

                            .links{
                               padding-top: 10px;
                               padding-right: 10px;
                               .box{
                                   width: 37px;
                                   height: 37px;
                               } 
                            }

                            .contenido{
                                margin-top: 120px;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }

        .favoritos{

            .no_found{
                display: flex;
                img{
                    width: 150px;
                    height: 150px;
                }
                h2{
                    line-height: 33px;
                    font-size: 22px;
                    width: 430px;
                    //margin-top: 20px;
                }
            }
            .lista_favoritos{
                .imagens{
                    .sombra_2{
                        display: flex;
                    }
                }
            }

            .ver_mas{
            border: solid $bg-primary 1px;
            border-radius: 35px;
            width: 127px;
            height: 50px;
            margin: 40px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;

            h2{
                font-size: 13px;
            }
            }

            .ver_mas:hover{
            background-color: $bg-primary;
            h2{
                color: $bg-secundary;
            }
            }
        }    

        .busqueda_fav{

            display: flex; 
            justify-content: center;
            flex-direction: column;
            align-items: center;
        
                .lista_favoritos{
        
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
        
                    .imagens{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        margin: 10px;
                        width: 260px;
                        height: 200px;
        
                        img{
                            padding: 0px;
                            width: 260px;
                            height: 200px;
                        }
        
                        .sombra_2{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            z-index: 3;
                            opacity: 0;
                            background: #572EE5 ;
                            width: 260px;
                            height: 200px;
                        }
        
                        .contenido_2{
                        place-items: baseline;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        margin-top: 80px;
                        margin-left: 10px;
        
                        p{
                            font-size: 15px;
                            font-family: $fuente_2;
                            color: $color_two;
                            margin: 0px;
                        }
                        h2{
                            font-size: 16px;
                            font-family: $fuente_1;
                            font-weight: 700;
                            color: $color_two;
                            margin-top: 10px;
                        }
                        }
        
                        .links_2{
                
                        align-self: flex-end;
                        display: flex;
                        padding-top: 6px;
                        padding-right: 8px;       
        
                        .box_2{
                            opacity: 0.5;
                            margin-left: 15px;
                            //margin-bottom: 7px;
                            width: 32px;
                            height: 32px;
                            background: #FFFFFF;
                            border: solid $bg-primary 1px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 20px;
                                //padding-top: 4px;
                                cursor: pointer;
                            }   
        
                        }
        
                        .ultimo_2{
                            opacity: 1;
                        }
                        }
        
                        .sombra_2:hover{
                            opacity: 0.7;
                        }           
                    }
                }
        
                .ver_mas{
                    border: solid $bg-primary 1px;
                    border-radius: 35px;
                    width: 127px;
                    height: 50px;
                    margin: 40px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor:pointer;
        
                    h2{
                        font-size: 13px;
                    }
                }
        
                .ver_mas:hover{
                    background-color: $bg-primary;
                    h2{
                        color: $bg-secundary;
                    }
                }
        }

        .busqueda_img{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .imagenes_resultado{

                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                .imagens{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 10px;
                    width: 260px;
                    height: 200px;

                    img{
                        padding: 0px;
                        width: 260px;
                        height: 200px;
                    }

                    .sombra_2{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        z-index: 3;
                        opacity: 0;
                        background: #572EE5 ;
                        width: 260px;
                        height: 200px;
                        //margin-left: 8px;
                        //margin-top: 16px;

                        .contenido_2{
                            place-items: baseline;
                            height: 60px;
                            display: flex;
                            flex-direction: column;
                            margin-top: 80px;
                            margin-left: 10px;
        
                            p{
                                font-size: 15px;
                                font-family: $fuente_2;
                                color: $color_two;
                                margin: 0px;
                            }
                            h2{
                                font-size: 16px;
                                font-family: $fuente_1;
                                font-weight: 700;
                                color: $color_two;
                                margin-top: 10px;
                            }
                        }
        
                        .links_2{
        
                            align-self: flex-end;
                            display: flex;
                            padding-top: 6px;
                            padding-right: 8px;       
            
                            .box_2{
                                opacity: 0.5;
                                margin-left: 15px;
                                //margin-bottom: 7px;
                                width: 32px;
                                height: 32px;
                                background: #FFFFFF;
                                border: solid $bg-primary 1px;
                                border-radius: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 20px;
                                    height: 20px;
                                    //padding-top: 4px;
                                    cursor: pointer;
                                }   

                            }
        
                            .ultimo_2{
                                opacity: 1;
                            }
                        }
                    }
                    .contenido_2{
                        place-items: baseline;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        margin-top: 80px;
                        margin-left: 10px;
        
                        p{
                            font-size: 15px;
                            font-family: $fuente_2;
                            color: $color_two;
                            margin: 0px;
                        }
                        h2{
                            font-size: 16px;
                            font-family: $fuente_1;
                            font-weight: 700;
                            color: $color_two;
                            margin-top: 10px;
                        }
                    }
                    .links_2{
        
                        align-self: flex-end;
                        display: flex;
                        padding-top: 6px;
                        padding-right: 8px;       
        
                        .box_2{
                            opacity: 0.5;
                            margin-left: 15px;
                            //margin-bottom: 7px;
                            width: 32px;
                            height: 32px;
                            background: #FFFFFF;
                            border: solid $bg-primary 1px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 20px;
                                //padding-top: 4px;
                                cursor: pointer;
                            }   
        
                        }
        
                        .ultimo_2{
                            opacity: 1;
                        }
                    }

                    .sombra_2:hover{
                        opacity: 0.7;
                    }   
                }
            }
        }
    }
}