.oscuro{ 
    background-color: $bg-nocturno; 
    color: $bg-secundary;
    header{
        border-top: solid $color 5px;
        .menu{

            input[type="checkbox"]:checked ~ ul {
                background:$color; 
            }

            span{
                background:$bg-secundary;
            }
            
            ul{
                .desktop{
                    background-color: $bg-nocturno;
                    a{
                        color: $bg-secundary;
                    }
                }
                li{
                    background-color: $color;
                    color: $bg-secundary;

                    &:last-child{
                        div{
                            border: solid $bg-secundary 1px;
                            svg{
                                margin-top: 13px;
                            }
                        }

                        div:hover{
                            background-color: $bg-secundary;
                            svg{
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        
        .primera_seccion{
            h1{
                color:$bg-secundary;
            }
            p{
                color:$bg-secundary;
            }
            .box{
                .container-1{
                    
                    input{
                        background-color: $bg-nocturno;
                        color: $bg-secundary; 
                    }
                }
            }
        }

        .failsearch{
            h2{
                color: #FFFFFF;  
            }

            h3{
                color: #FFFFFF;
            }
                

        }
        .segunda_seccion{
            background-color: $bg-nocturno-dos;
            h2{
                color:$bg-secundary;
            }
            p{
                color:$bg-secundary;
            }                
        }

        .favoritos{
            h2{
                color: $bg-secundary;
            }
            .no_found{
                h2{
                    color: $bg-secundary;
                }
            }
        }
    }

    footer{
        border-bottom: solid $color 5px;
        .logos{
            padding-top: 45px;
            a{
                margin: 0px 10px;
            }

            #Clip-4:hover{
                fill: $bg-secundary;
            }

            #Clip-4:active{
                fill: $bg-secundary;
            }
            
            #Clip-19:hover{
                fill: $bg-secundary;
            }

            #Clip-19:active{
                fill: $bg-secundary;
            }

            #Clip-5:hover{
                fill: $bg-secundary;
            }

            #Clip-5:active{
                fill: $bg-secundary;
            }
        }
    }
}