$bg-primary: #572EE5;
$bg-secundary: #FFFFFF;
$bg-third:#50E3C2;
$bg-four:#9CAFC3;
$bg-menu:#0000EC;
$bg-nocturno:#37383C;
$bg-nocturno-dos:#222326;
$color: #000000;
$color_two: white;
$color_active: #F3F5F8;
$color_link:#5ED7C6;
$bottom_1: #00F3BB;
$fuente_1: 'Montserrat', sans-serif;
$fuente_2: 'Roboto', sans-serif;
