header {
  width: 100%;
  height: 95px;
  padding: 20px 5%;
  border-top: solid #572EE5 5px; }
  header #activelink a {
    color: #9CAFC3; }
  header .desktop {
    display: none; }
  header .logo {
    float: left;
    width: 54px; }
  header nav {
    float: right;
    margin: 15px 15px 0px 0px; }
    header nav .menu {
      padding-top: 3px;
      /*checkbox transparente y en primer plano*/
      /*span -lineas del menu hamburguesa-*/ }
      header nav .menu ul {
        /*posicion absolute para que se posicione debajo del 
        resto del header - top medida del header*/
        width: 100%;
        position: absolute;
        top: 45px;
        right: 0px;
        overflow: hidden;
        list-style: none;
        background: #f2f2f2;
        height: 0px;
        transition: height 0.5s ease; }
        header nav .menu ul li {
          position: relative;
          width: 140px; }
          header nav .menu ul li .desktop {
            display: none; }
          header nav .menu ul li a {
            position: relative;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            line-height: 30px;
            color: #FFFFFF;
            padding: 16px 5%;
            display: block;
            font-weight: 700;
            padding-bottom: 5px;
            font-family: "Montserrat", sans-serif; }
            header nav .menu ul li a:hover {
              background: unset;
              text-decoration: underline solid #5ED7C6; }
            header nav .menu ul li a:active {
              color: #F3F5F8; }
        header nav .menu ul span {
          width: 50px;
          height: 2px;
          background: #9CAFC3;
          text-align: center; }
      header nav .menu input[type="checkbox"]:checked ~ ul {
        height: 484px;
        transition: height 0.5s ease-in-out;
        -moz-transition: height 0.5s ease-in-out;
        -o-transition: height 0.5s ease-in-out;
        -webkit-transition: height 0.5s ease-in-out;
        margin-top: 35px;
        background: rgba(87, 46, 229, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2; }
      header nav .menu input {
        display: block;
        width: 40px;
        height: 32px;
        opacity: 0;
        z-index: 2;
        position: absolute; }
        header nav .menu input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(2px, 1px); }
        header nav .menu input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        header nav .menu input:checked ~ span:nth-last-child(2) {
          transform: rotate(-46deg) translate(1px, 1px); }
      header nav .menu span {
        display: block;
        width: 15px;
        height: 2px;
        margin-bottom: 3px;
        position: relative;
        background: #572EE5;
        z-index: 1;
        transform-origin: 3px 0px;
        transition: transform 0.5s ease,opacity 0.55s ease; }
        header nav .menu span:first-child {
          transform-origin: 0% 0%; }
        header nav .menu span:nth-last-child(2) {
          transform-origin: 0% 100%; }
  @media screen and (min-width: 1000px) {
    header {
      overflow: hidden; }
      header .logo {
        width: 60px; }
      header nav .menu ul {
        position: relative;
        top: 0;
        right: -70px;
        overflow: hidden;
        background: unset;
        height: unset;
        display: flex;
        align-items: center; }
        header nav .menu ul .mobile {
          display: none; }
        header nav .menu ul li {
          display: inline-block; }
          header nav .menu ul li a {
            color: #572EE5;
            padding: unset;
            line-height: unset;
            font-family: "Montserrat", sans-serif;
            font-size: 13px; }
            header nav .menu ul li a:hover {
              background: unset;
              color: #00F3BB; }
            header nav .menu ul li a:active {
              color: #F3F5F8; }
          header nav .menu ul li:nth-child(5) {
            padding-left: 25px; }
          header nav .menu ul li:last-child .active_pag {
            border: solid #9CAFC3 1px;
            background-color: #9CAFC3; }
            header nav .menu ul li:last-child .active_pag svg {
              color: #f2f2f2; }
          header nav .menu ul li:last-child div {
            border: solid #572EE5 1px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            width: 45px;
            height: 45px; }
            header nav .menu ul li:last-child div svg {
              margin-top: 13px; }
          header nav .menu ul li div:hover {
            background-color: #572EE5; }
            header nav .menu ul li div:hover svg {
              color: #f2f2f2; }
      header nav .menu input {
        display: none; }
      header nav .menu span {
        display: none; } }

main .primera_seccion {
  display: flex;
  align-items: center;
  flex-direction: column; }
  main .primera_seccion h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 33px;
    color: #572EE5;
    width: 286px;
    height: 99px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px; }
    main .primera_seccion h1 span {
      color: #50E3C2; }
  main .primera_seccion img {
    width: 273px;
    height: 130px; }
  main .primera_seccion p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #572EE5;
    line-height: 25px;
    font-weight: 700;
    font-size: 16px; }
    main .primera_seccion p:last-child {
      font-weight: 500;
      width: 225px;
      height: 50px;
      font-size: 14px;
      margin-bottom: 30px; }
  main .primera_seccion .box {
    width: 284px;
    height: 50px;
    margin-bottom: 20px;
    border: solid #572EE5 1px;
    border-radius: 27px; }
    main .primera_seccion .box .container-1 {
      height: 40px;
      padding-top: 14px; }
      main .primera_seccion .box .container-1 input {
        float: left;
        margin-left: 25px;
        font-size: 16px; }
      main .primera_seccion .box .container-1 .lupa {
        float: right;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer; }
    main .primera_seccion .box .menu-input {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #000000;
      text-align: left;
      opacity: 0.5;
      padding-left: 24px;
      display: none; }
      main .primera_seccion .box .menu-input span {
        width: 240px;
        height: 1.7px;
        background: #9CAFC3;
        margin-bottom: 7px;
        display: inline-block; }
      main .primera_seccion .box .menu-input .suggest-term {
        padding-bottom: 7px;
        cursor: pointer; }
main .failsearch {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 0px 50px; }
  main .failsearch span {
    width: 150px;
    height: 2px;
    background: #9CAFC3;
    margin-bottom: 15px; }
  main .failsearch img {
    width: 70px;
    height: 70px; }
  main .failsearch h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
    margin: 35px 0px; }
  main .failsearch h3 {
    color: #50E3C2;
    font-size: 18px;
    width: 256px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
main .favoritos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px; }
  main .favoritos .logo_corazon {
    display: flex;
    align-items: center;
    justify-content: center; }
    main .favoritos .logo_corazon img {
      margin: center;
      text-align: center; }
  main .favoritos h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #572EE5;
    margin: 10px 0px; }
  main .favoritos .no_found_fav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 0px; }
    main .favoritos .no_found_fav img {
      width: 70px;
      height: 70px; }
    main .favoritos .no_found_fav h2 {
      color: #50E3C2;
      font-size: 18px;
      width: 230px;
      margin-top: 20px; }
main .busqueda_fav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  main .busqueda_fav .lista_favoritos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    main .busqueda_fav .lista_favoritos .imagens {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 1px;
      width: 156px;
      height: 120px; }
      main .busqueda_fav .lista_favoritos .imagens img {
        padding: 8px;
        width: 156px;
        height: 120px; }
      main .busqueda_fav .lista_favoritos .imagens .sombra_2 {
        display: none; }
  main .busqueda_fav .ver_mas {
    border: solid #572EE5 1px;
    border-radius: 35px;
    width: 127px;
    height: 50px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .busqueda_fav .ver_mas h2 {
      font-size: 13px; }
  main .busqueda_fav .ver_mas:hover {
    background-color: #572EE5; }
    main .busqueda_fav .ver_mas:hover h2 {
      color: #FFFFFF; }
main .mis_gifos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px; }
  main .mis_gifos .logo_rostro {
    display: flex;
    align-items: center;
    justify-content: center; }
    main .mis_gifos .logo_rostro img {
      margin: center;
      text-align: center; }
  main .mis_gifos h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #572EE5;
    margin: 10px 0px; }
  main .mis_gifos .no_found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 0px; }
    main .mis_gifos .no_found img {
      width: 70px;
      height: 70px; }
    main .mis_gifos .no_found h2 {
      color: #50E3C2;
      font-size: 18px;
      width: 230px;
      margin-top: 20px; }
  main .mis_gifos .busqueda_mis {
    display: none;
    flex-flow: row wrap;
    justify-content: center; }
    main .mis_gifos .busqueda_mis .lista_misgifos img {
      padding: 8px;
      width: 150px;
      height: 120px; }
    main .mis_gifos .busqueda_mis .ver_mas {
      border: solid #572EE5 1px;
      border-radius: 35px;
      width: 127px;
      height: 50px;
      margin: 40px 0px;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .mis_gifos .busqueda_mis .ver_mas h2 {
        font-size: 13px; }
    main .mis_gifos .busqueda_mis .ver_mas:hover {
      background-color: #572EE5; }
      main .mis_gifos .busqueda_mis .ver_mas:hover h2 {
        color: #FFFFFF; }
main .busqueda_img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  main .busqueda_img .imagenes_resultado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    main .busqueda_img .imagenes_resultado .imagens {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 1px;
      width: 156px;
      height: 120px; }
      main .busqueda_img .imagenes_resultado .imagens img {
        padding: 8px;
        width: 156px;
        height: 120px; }
    main .busqueda_img .imagenes_resultado .sombra_2 {
      display: none; }
  main .busqueda_img .ver_mas {
    border: solid #572EE5 1px;
    border-radius: 35px;
    width: 127px;
    height: 50px;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    main .busqueda_img .ver_mas h2 {
      font-size: 13px; }
  main .busqueda_img .ver_mas:hover {
    background-color: #572EE5; }
    main .busqueda_img .ver_mas:hover h2 {
      color: #FFFFFF; }
main .busqueda {
  display: none;
  align-items: center;
  flex-direction: column; }
  main .busqueda span {
    width: 80px;
    height: 2px;
    background: #9CAFC3;
    text-align: center;
    display: inline-block;
    margin: auto; }
  main .busqueda h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #572EE5;
    margin: 25px 0px; }
main .segunda_seccion {
  background-color: #F3F5F8;
  width: 100vw;
  height: 430px; }
  main .segunda_seccion .info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .segunda_seccion .info h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      color: #572EE5;
      padding-top: 45px;
      padding-bottom: 10px; }
    main .segunda_seccion .info p {
      font-family: "Roboto", sans-serif;
      color: #000000;
      text-align: center; }
  main .segunda_seccion .imagenes {
    display: flex;
    margin-top: 40px;
    overflow-x: auto; }
    main .segunda_seccion .imagenes .flechas {
      border: solid #572EE5 1px;
      width: 40px;
      height: 40px;
      display: none;
      align-items: center;
      justify-content: center; }
      main .segunda_seccion .imagenes .flechas svg {
        fill: #572EE5; }
    main .segunda_seccion .imagenes .sombra {
      position: absolute;
      display: none;
      flex-direction: column;
      z-index: 3;
      opacity: 0;
      background: #572EE5;
      width: 243px;
      height: 187px;
      margin-left: 10px; }
      main .segunda_seccion .imagenes .sombra .contenido {
        place-items: baseline;
        height: 60px;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 10px; }
        main .segunda_seccion .imagenes .sombra .contenido p {
          font-size: 15px;
          font-family: "Roboto", sans-serif;
          color: white;
          margin: 0px; }
        main .segunda_seccion .imagenes .sombra .contenido h2 {
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: white;
          margin-top: 15px; }
      main .segunda_seccion .imagenes .sombra .links {
        align-self: flex-end;
        display: flex;
        padding-top: 6px;
        padding-right: 8px; }
        main .segunda_seccion .imagenes .sombra .links .box {
          opacity: 0.5;
          margin-left: 15px;
          margin-bottom: 7px;
          width: 30px;
          height: 30px;
          background: #FFFFFF;
          border: solid #572EE5 1px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center; }
          main .segunda_seccion .imagenes .sombra .links .box img {
            width: 20px;
            height: 20px;
            cursor: pointer; }
        main .segunda_seccion .imagenes .sombra .links .ultimo {
          opacity: 1; }
    main .segunda_seccion .imagenes .sombra:hover {
      opacity: 0.7; }
    main .segunda_seccion .imagenes .activa {
      opacity: 0.7;
      background: #572EE5; }
    main .segunda_seccion .imagenes .flechas:hover {
      background-color: #572EE5; }
      main .segunda_seccion .imagenes .flechas:hover svg {
        fill: #FFFFFF; }
    main .segunda_seccion .imagenes .contenedor {
      display: flex; }
      main .segunda_seccion .imagenes .contenedor .imagen img {
        width: 243px;
        height: 187px;
        margin: 0px 10px; }
      main .segunda_seccion .imagenes .contenedor .imagen div {
        position: relative; }
main .seccion_creacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px; }
  main .seccion_creacion .primera_parte {
    display: flex;
    margin-left: -205px; }
    main .seccion_creacion .primera_parte .window_creation {
      display: flex;
      flex-direction: column;
      border: solid #572EE5 1px;
      width: 688px;
      height: 400px; }
      main .seccion_creacion .primera_parte .window_creation .cajas_superiores {
        display: flex;
        width: 626px;
        justify-content: space-between;
        margin-left: 32px;
        margin-top: 25px;
        height: 25px; }
        main .seccion_creacion .primera_parte .window_creation .cajas_superiores .sup_izq {
          border-top: 1px solid #50E3C2;
          width: 27px;
          height: 25px;
          background: white;
          border-radius: 0px;
          border-left: 1px solid #50E3C2; }
        main .seccion_creacion .primera_parte .window_creation .cajas_superiores .sup_der {
          border-top: 1px solid #50E3C2;
          width: 27px;
          height: 25px;
          background: white;
          border-radius: 0px;
          border-right: 1px solid #50E3C2; }
      main .seccion_creacion .primera_parte .window_creation .informacion {
        display: block; }
        main .seccion_creacion .primera_parte .window_creation .informacion h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 25px;
          color: #572EE5;
          text-align: center;
          line-height: 35px;
          margin: 0px auto;
          margin-top: 65px; }
          main .seccion_creacion .primera_parte .window_creation .informacion h2 span {
            color: #50E3C2;
            background-color: white; }
        main .seccion_creacion .primera_parte .window_creation .informacion p {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          color: #000000;
          text-align: center;
          line-height: 29px; }
      main .seccion_creacion .primera_parte .window_creation .video-container {
        display: none;
        width: 480px;
        height: 320px;
        margin: auto; }
        main .seccion_creacion .primera_parte .window_creation .video-container .recorder {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      main .seccion_creacion .primera_parte .window_creation .cajas_inferiores {
        display: flex;
        width: 626px;
        height: 25px;
        justify-content: space-between;
        margin-left: 32px;
        margin-top: 85px; }
        main .seccion_creacion .primera_parte .window_creation .cajas_inferiores .inf_izq {
          border-bottom: 1px solid #50E3C2;
          width: 25px;
          height: 25px;
          background: white;
          border-radius: 0px;
          border-left: 1px solid #50E3C2; }
        main .seccion_creacion .primera_parte .window_creation .cajas_inferiores .inf_der {
          border-bottom: 1px solid #50E3C2;
          width: 25px;
          height: 25px;
          background: white;
          border-radius: 0px;
          border-right: 1px solid #50E3C2; }
  main .seccion_creacion .pre_parte {
    display: flex;
    margin-left: 487px; }
    main .seccion_creacion .pre_parte .numeros_creacion {
      display: flex;
      justify-content: space-between;
      width: 150px; }
      main .seccion_creacion .pre_parte .numeros_creacion .circle_fun {
        border: solid #572EE5 1px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
        background-color: #572EE5; }
        main .seccion_creacion .pre_parte .numeros_creacion .circle_fun p {
          font-size: 18px;
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: bold; }
      main .seccion_creacion .pre_parte .numeros_creacion .circle {
        border: solid #572EE5 1px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 0; }
        main .seccion_creacion .pre_parte .numeros_creacion .circle p {
          font-size: 18px;
          color: #572EE5;
          font-family: "Roboto", sans-serif;
          font-weight: bold; }
    main .seccion_creacion .pre_parte img {
      padding-left: 350px; }
  main .seccion_creacion span {
    width: 750px;
    height: 5px;
    background: #572EE5;
    margin-bottom: 7px;
    border-radius: 10px; }
  main .seccion_creacion .parte_baja {
    display: flex;
    width: 200px;
    margin-left: 75px; }
    main .seccion_creacion .parte_baja .ver_mas {
      border: solid #572EE5 1px;
      border-radius: 35px;
      width: 127px;
      height: 50px;
      margin: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #572EE5;
      font-family: "Montserrat", sans-serif;
      cursor: pointer; }
      main .seccion_creacion .parte_baja .ver_mas h2 {
        font-size: 13px; }
    main .seccion_creacion .parte_baja .ver_mas:hover {
      background-color: #572EE5; }
      main .seccion_creacion .parte_baja .ver_mas:hover h2 {
        color: #FFFFFF; }
    main .seccion_creacion .parte_baja .grabar {
      border: solid #572EE5 1px;
      border-radius: 35px;
      width: 127px;
      height: 50px;
      margin: 20px 0px;
      display: none;
      align-items: center;
      justify-content: center;
      color: #572EE5;
      font-family: "Montserrat", sans-serif;
      cursor: pointer; }
      main .seccion_creacion .parte_baja .grabar h2 {
        font-size: 13px; }
    main .seccion_creacion .parte_baja .grabar:hover {
      background-color: #572EE5; }
      main .seccion_creacion .parte_baja .grabar:hover h2 {
        color: #FFFFFF; }
    main .seccion_creacion .parte_baja .detener {
      border: solid #572EE5 1px;
      border-radius: 35px;
      width: 127px;
      height: 50px;
      margin: 20px 0px;
      display: none;
      align-items: center;
      justify-content: center;
      color: #572EE5;
      font-family: "Montserrat", sans-serif;
      cursor: pointer; }
      main .seccion_creacion .parte_baja .detener h2 {
        font-size: 13px; }
    main .seccion_creacion .parte_baja .detener:hover {
      background-color: #572EE5; }
      main .seccion_creacion .parte_baja .detener:hover h2 {
        color: #FFFFFF; }
@media screen and (min-width: 1000px) {
  main {
    overflow: hidden; }
    main .primera_seccion h1 {
      font-size: 36px;
      width: 585px;
      line-height: 50px;
      margin: 60px 0px; }
    main .primera_seccion img {
      width: 400px;
      height: 190px; }
    main .primera_seccion .box {
      width: 551px;
      height: 50px; }
      main .primera_seccion .box .container-1 input {
        width: 85%; }
      main .primera_seccion .box .menu-input span {
        width: 510px; }
    main .primera_seccion p {
      font-size: 18px;
      margin-top: 50px; }
      main .primera_seccion p:last-child {
        font-size: 16px;
        width: 402px;
        margin-top: 0px;
        margin-bottom: 50px; }
    main .segunda_seccion {
      height: 640px; }
      main .segunda_seccion .info {
        margin-bottom: 40px; }
        main .segunda_seccion .info h2 {
          font-size: 25px;
          margin-top: 70px; }
        main .segunda_seccion .info p {
          font-size: 18px;
          width: 390px; }
      main .segunda_seccion .imagenes {
        align-items: center;
        width: 83vw;
        overflow: hidden;
        margin: auto; }
        main .segunda_seccion .imagenes .flechas {
          display: flex;
          align-items: center;
          position: absolute; }
        main .segunda_seccion .imagenes .left {
          left: 73px; }
        main .segunda_seccion .imagenes .right {
          right: 60px; }
        main .segunda_seccion .imagenes .contenedor {
          position: relative;
          display: flex;
          justify-content: center;
          transition: .5s ease-in-out; }
          main .segunda_seccion .imagenes .contenedor .imagen {
            position: relative;
            display: flex;
            justify-content: center;
            float: left;
            box-sizing: border-box; }
            main .segunda_seccion .imagenes .contenedor .imagen img {
              width: 357px;
              height: 275px; }
            main .segunda_seccion .imagenes .contenedor .imagen .sombra {
              display: flex;
              width: 357px;
              height: 275px;
              margin-left: -1px; }
              main .segunda_seccion .imagenes .contenedor .imagen .sombra .links {
                padding-top: 10px;
                padding-right: 10px; }
                main .segunda_seccion .imagenes .contenedor .imagen .sombra .links .box {
                  width: 37px;
                  height: 37px; }
              main .segunda_seccion .imagenes .contenedor .imagen .sombra .contenido {
                margin-top: 120px;
                margin-left: 20px; }
    main .favoritos .no_found {
      display: flex; }
      main .favoritos .no_found img {
        width: 150px;
        height: 150px; }
      main .favoritos .no_found h2 {
        line-height: 33px;
        font-size: 22px;
        width: 430px; }
    main .favoritos .lista_favoritos .imagens .sombra_2 {
      display: flex; }
    main .favoritos .ver_mas {
      border: solid #572EE5 1px;
      border-radius: 35px;
      width: 127px;
      height: 50px;
      margin: 40px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      main .favoritos .ver_mas h2 {
        font-size: 13px; }
    main .favoritos .ver_mas:hover {
      background-color: #572EE5; }
      main .favoritos .ver_mas:hover h2 {
        color: #FFFFFF; }
    main .busqueda_fav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      main .busqueda_fav .lista_favoritos {
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        main .busqueda_fav .lista_favoritos .imagens {
          position: relative;
          display: flex;
          justify-content: center;
          margin: 10px;
          width: 260px;
          height: 200px; }
          main .busqueda_fav .lista_favoritos .imagens img {
            padding: 0px;
            width: 260px;
            height: 200px; }
          main .busqueda_fav .lista_favoritos .imagens .sombra_2 {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 3;
            opacity: 0;
            background: #572EE5;
            width: 260px;
            height: 200px; }
          main .busqueda_fav .lista_favoritos .imagens .contenido_2 {
            place-items: baseline;
            height: 60px;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            margin-left: 10px; }
            main .busqueda_fav .lista_favoritos .imagens .contenido_2 p {
              font-size: 15px;
              font-family: "Roboto", sans-serif;
              color: white;
              margin: 0px; }
            main .busqueda_fav .lista_favoritos .imagens .contenido_2 h2 {
              font-size: 16px;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              color: white;
              margin-top: 10px; }
          main .busqueda_fav .lista_favoritos .imagens .links_2 {
            align-self: flex-end;
            display: flex;
            padding-top: 6px;
            padding-right: 8px; }
            main .busqueda_fav .lista_favoritos .imagens .links_2 .box_2 {
              opacity: 0.5;
              margin-left: 15px;
              width: 32px;
              height: 32px;
              background: #FFFFFF;
              border: solid #572EE5 1px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center; }
              main .busqueda_fav .lista_favoritos .imagens .links_2 .box_2 img {
                width: 20px;
                height: 20px;
                cursor: pointer; }
            main .busqueda_fav .lista_favoritos .imagens .links_2 .ultimo_2 {
              opacity: 1; }
          main .busqueda_fav .lista_favoritos .imagens .sombra_2:hover {
            opacity: 0.7; }
      main .busqueda_fav .ver_mas {
        border: solid #572EE5 1px;
        border-radius: 35px;
        width: 127px;
        height: 50px;
        margin: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        main .busqueda_fav .ver_mas h2 {
          font-size: 13px; }
      main .busqueda_fav .ver_mas:hover {
        background-color: #572EE5; }
        main .busqueda_fav .ver_mas:hover h2 {
          color: #FFFFFF; }
    main .busqueda_img {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      main .busqueda_img .imagenes_resultado {
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        main .busqueda_img .imagenes_resultado .imagens {
          position: relative;
          display: flex;
          justify-content: center;
          margin: 10px;
          width: 260px;
          height: 200px; }
          main .busqueda_img .imagenes_resultado .imagens img {
            padding: 0px;
            width: 260px;
            height: 200px; }
          main .busqueda_img .imagenes_resultado .imagens .sombra_2 {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 3;
            opacity: 0;
            background: #572EE5;
            width: 260px;
            height: 200px; }
            main .busqueda_img .imagenes_resultado .imagens .sombra_2 .contenido_2 {
              place-items: baseline;
              height: 60px;
              display: flex;
              flex-direction: column;
              margin-top: 80px;
              margin-left: 10px; }
              main .busqueda_img .imagenes_resultado .imagens .sombra_2 .contenido_2 p {
                font-size: 15px;
                font-family: "Roboto", sans-serif;
                color: white;
                margin: 0px; }
              main .busqueda_img .imagenes_resultado .imagens .sombra_2 .contenido_2 h2 {
                font-size: 16px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                color: white;
                margin-top: 10px; }
            main .busqueda_img .imagenes_resultado .imagens .sombra_2 .links_2 {
              align-self: flex-end;
              display: flex;
              padding-top: 6px;
              padding-right: 8px; }
              main .busqueda_img .imagenes_resultado .imagens .sombra_2 .links_2 .box_2 {
                opacity: 0.5;
                margin-left: 15px;
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                border: solid #572EE5 1px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center; }
                main .busqueda_img .imagenes_resultado .imagens .sombra_2 .links_2 .box_2 img {
                  width: 20px;
                  height: 20px;
                  cursor: pointer; }
              main .busqueda_img .imagenes_resultado .imagens .sombra_2 .links_2 .ultimo_2 {
                opacity: 1; }
          main .busqueda_img .imagenes_resultado .imagens .contenido_2 {
            place-items: baseline;
            height: 60px;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            margin-left: 10px; }
            main .busqueda_img .imagenes_resultado .imagens .contenido_2 p {
              font-size: 15px;
              font-family: "Roboto", sans-serif;
              color: white;
              margin: 0px; }
            main .busqueda_img .imagenes_resultado .imagens .contenido_2 h2 {
              font-size: 16px;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              color: white;
              margin-top: 10px; }
          main .busqueda_img .imagenes_resultado .imagens .links_2 {
            align-self: flex-end;
            display: flex;
            padding-top: 6px;
            padding-right: 8px; }
            main .busqueda_img .imagenes_resultado .imagens .links_2 .box_2 {
              opacity: 0.5;
              margin-left: 15px;
              width: 32px;
              height: 32px;
              background: #FFFFFF;
              border: solid #572EE5 1px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center; }
              main .busqueda_img .imagenes_resultado .imagens .links_2 .box_2 img {
                width: 20px;
                height: 20px;
                cursor: pointer; }
            main .busqueda_img .imagenes_resultado .imagens .links_2 .ultimo_2 {
              opacity: 1; }
          main .busqueda_img .imagenes_resultado .imagens .sombra_2:hover {
            opacity: 0.7; } }

footer {
  width: 100vw;
  height: 196px;
  border-bottom: solid #572EE5 5px; }
  footer p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 45px; }
  footer .logos {
    padding-top: 25px;
    display: flex;
    justify-content: center; }
    footer .logos a {
      width: 18px;
      height: 18px;
      margin: 0px 15px; }
  @media screen and (min-width: 1000px) {
    footer {
      height: 116px;
      display: flex;
      overflow: hidden; }
      footer p {
        font-size: 13px;
        margin-left: 150px;
        margin-right: 25px; }
        footer p:last-child {
          margin-right: 0px;
          margin-left: 700px; }
      footer .logos {
        padding-top: 45px; }
        footer .logos a {
          margin: 0px 10px; }
        footer .logos #Clip-4:hover {
          fill: #572EE5; }
        footer .logos #Clip-4:active {
          fill: #572EE5; }
        footer .logos #Clip-19:hover {
          fill: #572EE5; }
        footer .logos #Clip-19:active {
          fill: #572EE5; }
        footer .logos #Clip-5:hover {
          fill: #572EE5; }
        footer .logos #Clip-5:active {
          fill: #572EE5; } }

.oscuro {
  background-color: #37383C;
  color: #FFFFFF; }
  .oscuro header {
    border-top: solid #000000 5px; }
    .oscuro header .menu input[type="checkbox"]:checked ~ ul {
      background: #000000; }
    .oscuro header .menu span {
      background: #FFFFFF; }
    .oscuro header .menu ul .desktop {
      background-color: #37383C; }
      .oscuro header .menu ul .desktop a {
        color: #FFFFFF; }
    .oscuro header .menu ul li {
      background-color: #000000;
      color: #FFFFFF; }
      .oscuro header .menu ul li:last-child div {
        border: solid #FFFFFF 1px; }
        .oscuro header .menu ul li:last-child div svg {
          margin-top: 13px; }
      .oscuro header .menu ul li:last-child div:hover {
        background-color: #FFFFFF; }
        .oscuro header .menu ul li:last-child div:hover svg {
          color: #000000; }
  .oscuro main .primera_seccion h1 {
    color: #FFFFFF; }
  .oscuro main .primera_seccion p {
    color: #FFFFFF; }
  .oscuro main .primera_seccion .box .container-1 input {
    background-color: #37383C;
    color: #FFFFFF; }
  .oscuro main .failsearch h2 {
    color: #FFFFFF; }
  .oscuro main .failsearch h3 {
    color: #FFFFFF; }
  .oscuro main .segunda_seccion {
    background-color: #222326; }
    .oscuro main .segunda_seccion .imagenes .flechas {
      border: solid #FFFFFF 1px; }
      .oscuro main .segunda_seccion .imagenes .flechas svg {
        fill: #FFFFFF; }
      .oscuro main .segunda_seccion .imagenes .flechas:hover {
        background-color: #FFFFFF; }
        .oscuro main .segunda_seccion .imagenes .flechas:hover svg {
          fill: #000000; }
    .oscuro main .segunda_seccion h2 {
      color: #FFFFFF; }
    .oscuro main .segunda_seccion p {
      color: #FFFFFF; }
  .oscuro main .favoritos h2 {
    color: #FFFFFF; }
  .oscuro main .favoritos .no_found h2 {
    color: #FFFFFF; }
  .oscuro main .busqueda_img .ver_mas {
    border: solid #FFFFFF 1px; }
    .oscuro main .busqueda_img .ver_mas h2 {
      color: #FFFFFF; }
  .oscuro main .busqueda_img .ver_mas:hover {
    background-color: #FFFFFF; }
    .oscuro main .busqueda_img .ver_mas:hover h2 {
      color: #000000; }
  .oscuro main .busqueda h2 {
    color: #FFFFFF; }
  .oscuro footer {
    border-bottom: solid #000000 5px; }
    .oscuro footer .logos {
      padding-top: 45px; }
      .oscuro footer .logos a {
        margin: 0px 10px; }
      .oscuro footer .logos #Clip-4:hover {
        fill: #FFFFFF; }
      .oscuro footer .logos #Clip-4:active {
        fill: #FFFFFF; }
      .oscuro footer .logos #Clip-19:hover {
        fill: #FFFFFF; }
      .oscuro footer .logos #Clip-19:active {
        fill: #FFFFFF; }
      .oscuro footer .logos #Clip-5:hover {
        fill: #FFFFFF; }
      .oscuro footer .logos #Clip-5:active {
        fill: #FFFFFF; }
  .oscuro .zoom {
    background-color: #37383C;
    color: #FFFFFF; }
    .oscuro .zoom .pasarela .flechas {
      border: solid #FFFFFF 1px; }
      .oscuro .zoom .pasarela .flechas svg {
        fill: #FFFFFF; }
      .oscuro .zoom .pasarela .flechas:hover {
        background-color: #FFFFFF; }
        .oscuro .zoom .pasarela .flechas:hover svg {
          fill: #000000; }

* {
  padding: 0%;
  margin: 0%;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  * .zoom {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    align-items: center;
    flex-direction: column; }
    * .zoom .close {
      width: 84%;
      height: 5%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin: 40px;
      padding-right: 5px;
      padding-top: 5px; }
      * .zoom .close img {
        width: 15px;
        height: 15px;
        margin-right: 22px; }
      * .zoom .close input {
        display: block;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: 4;
        position: absolute; }
      * .zoom .close span {
        display: block;
        width: 15px;
        height: 2px;
        margin-bottom: 3px;
        position: relative;
        background: #572EE5;
        z-index: 3; }
        * .zoom .close span:first-child {
          transform-origin: 0% 0%; }
        * .zoom .close span:nth-last-child(1) {
          transform-origin: 0% 100%; }
    * .zoom .pasarela .flechas {
      display: none; }
    * .zoom .pasarela img {
      width: 290px;
      height: 230px; }
    * .zoom .seccion_baja {
      width: 100%;
      margin-top: 10px; }
      * .zoom .seccion_baja .contenido {
        float: left;
        width: 50%;
        padding-left: 25px; }
        * .zoom .seccion_baja .contenido p {
          font-size: 15px;
          font-family: "Roboto", sans-serif; }
        * .zoom .seccion_baja .contenido h2 {
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          margin-top: 6px; }
      * .zoom .seccion_baja .links {
        float: right;
        width: 50%;
        display: flex;
        padding-left: 60px;
        padding-top: 7px; }
        * .zoom .seccion_baja .links img {
          width: 25px;
          height: 25px; }
        * .zoom .seccion_baja .links .box {
          opacity: 0.5;
          margin-left: 15px;
          margin-bottom: 7px;
          width: 30px;
          height: 30px;
          border: solid #572EE5 1px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 3px;
          cursor: pointer; }
          * .zoom .seccion_baja .links .box img {
            width: 20px;
            height: 20px; }

@media screen and (min-width: 1000px) {
  body {
    overflow-x: hidden; }

  .zoom {
    display: none;
    background-color: white;
    z-index: 5; }
    .zoom .close {
      height: 8%;
      margin-right: 140px;
      cursor: pointer; }
    .zoom .pasarela {
      display: flex;
      align-items: center; }
      .zoom .pasarela .flechas {
        border: solid #572EE5 1px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 35px; }
        .zoom .pasarela .flechas svg {
          fill: #572EE5; }
      .zoom .pasarela .flechas:hover {
        background-color: #572EE5; }
        .zoom .pasarela .flechas:hover svg {
          fill: #FFFFFF; }
      .zoom .pasarela img {
        width: 695px;
        height: 385px; }
    .zoom .seccion_baja {
      width: 50vmax; }
      .zoom .seccion_baja .contenido {
        padding-left: 0px; }
      .zoom .seccion_baja .links {
        padding-left: 250px; } }

/*# sourceMappingURL=style.css.map */
