@import "variables";
@import "header";
@import "main";
@import "footer";

*{
    padding: 0%;
    margin: 0%;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .oscuro{ 
        background-color: $bg-nocturno; 
        color: $bg-secundary;
        header{
            border-top: solid $color 5px;
            .menu{

                input[type="checkbox"]:checked ~ ul {
                    background:$color; 
                }

                span{
                    background:$bg-secundary;
                }
                
                ul{
                    li{
                        background-color: $color;
                        color: $bg-secundary;
                    }
                }
            }
        }
        main{
            
            .primera_seccion{
                h1{
                    color:$bg-secundary;
                }
                p{
                    color:$bg-secundary;
                }
                .box{
                    .container-1{
                        
                        input{
                            background-color: $bg-nocturno;
                            color:  #000000; 
                        }
                    }
                }
            }
            .segunda_seccion{
                background-color: $bg-nocturno-dos;
                h2{
                    color:$bg-secundary;
                }
                p{
                    color:$bg-secundary;
                }                
            }
        }

        footer{
            border-bottom: solid $color 5px;
        }
    }
}
main{
    @media screen and (max-width: 1000px){
        overflow: hidden;
     }    
}