@import "variables";
@import "header";
@import "main";
@import "footer";
@import "oscuro";

*{
    padding: 0%;
    margin: 0%;
    border: 0;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    //position: relative;
       
    .zoom{
        
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        background-color:  rgba(255,255,255,0.90);
        display: none;
        align-items: center;
        flex-direction: column;

        .close{
            width: 84%;
            height: 5%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin: 40px;
            padding-right: 5px;
            padding-top: 5px;
            a{
                width: 50px;
                height: 40px;
                margin-right: 7px;
            }
            img{
                width: 15px;
                height: 15px;
                margin-left: 22px;
            }
            
            input{
                display: block;
                width: 40px;
                height: 40px;
                opacity: 0;
                z-index: 4;
                position: absolute;
            }

            span{
                display: block;
                width: 15px;
                height: 2px;
                margin-bottom: 3px;
                position: relative;
                background: $bg-primary;
                z-index: 3;
                
                &:first-child{
                    transform-origin: 0% 0%; 
                }

                &:nth-last-child(1){
                    transform-origin: 0% 100%;
                }
            }
        }

        .pasarela{
            .flechas{
                display: none;
            }
            img{
                width: 290px;
                height: 230px;
            }

        }

        .seccion_baja{
            width: 100%;
            margin-top: 10px;
            .contenido{
                float: left;
                width: 50%;
                padding-left: 25px;
                p{
                    font-size: 15px;
                    font-family: $fuente_2;
                }
                h2{
                    font-size: 16px;
                    font-family: $fuente_1;
                    font-weight: 700;
                    margin-top: 6px;
                }
            }

            .links{
                float:right;
                width: 50%; 
                display: flex;
                padding-left: 60px;
                padding-top: 7px;
                
                img{
                    width: 25px;
                    height: 25px;
                   
                }

                .box{
                    opacity: 0.5;
                    margin-left: 15px;
                    margin-bottom: 7px;
                    width: 30px;
                    height: 30px;
                    border: solid $bg-primary 1px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 3px;
                    img{
                        width: 20px;
                        height: 20px;

                        //padding-left: 2px;
                    }   
                }
            }
        }
    }
    
}

@media screen and (min-width: 1000px){

    body{
        overflow-x: hidden;
    }

    .zoom{
        display: none;
        background-color:  rgba(255,255,255,1);
        

        .close{
            height: 8%;
            a{
                margin-right: 140px;
            }
        }
        .pasarela{
            
            display: flex;
            align-items: center;

            .flechas{
                border:solid $bg-primary 1px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 35px;
                svg{
                    fill: $bg-primary;
                }
            }

            .flechas:hover{
                background-color: $bg-primary;
                svg{
                    fill: #FFFFFF;
                }
            }

            img{
                width: 695px;
                height: 385px;
            }
        }

        .seccion_baja{
            width: 50vmax;
            .contenido{
            //width: 0%;
            padding-left: 0px;
            }

            .links{
                //width: 0%;
                padding-left: 250px;
            }
        }
    }    
}

